<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    
    <h1>Edit <%= powers.name %> Details</h1>
    <nav>
        <ul>
            <li>
                <button><a href="/superheroes">Home</a></button>
            </li>

            <li>
                <button><a href="/superheroes/gallery">View Gallery</a></button>
            </li>

            <li>
                <button><a href="/powers/index">View Powers</a></button>
            </li>
        </ul>
    </nav>

    <main>
        <h2>Power Info:</h2>
        <form action="/powers/<%= powers._id %>?_method=PUT" method="POST">

            <select name="superheroId">
                <% for (let i = 0; i < superheroes.length; i++) { %> 
                    <option value="<%= superheroes[i]._id %>">
                       <% if (superheroes[i]._id.toString() === powerSuperhero._id.toString()) { %>
                            selected
                       <% } %>
                    >
                        <%= superheroes[i].name %> 
                    </option>
                <% } %> 
            </select><br/>

            <input type="text" name="name" value="<%= powers.name %>"> <br/>
            <textarea name="description"></textarea>
            <input type="submit" value="Update Power">
        </form>
    </main>


</body>
</html>