<header>
    <h1>Edit <%= powers.type %> Details</h1>
</header>

<main>
    <h2>Power Info:</h2>
    <form action="/powers/<%= powers._id %>?_method=PUT" method="POST">

        <select name="superheroId">
            <% for (let i = 0; i < superheroes.length; i++) { %> 
                <option value="<%= superheroes[i]._id %>">
                    <% if (superheroes[i]._id.toString() === powerSuperhero._id.toString()) { %>
                        Selected Superhero
                    <% } %>
                >
                    <%= superheroes[i].name %> 
                </option>
            <% } %> 
        </select><br/>

        Power Type: <input type="text" name="type" value="<%= powers.type %>"> <br/>
        Description: <textarea name="description"></textarea><br/>
        <input type="submit" value="Update Power">
    </form>
</main>