<!DOCTYPE html>
<html class="edit" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title></title>
</head>
<body class="superhero-edit">
    
    <h1>Edit <%= superheroes.name %>'s Info</h1>
    <nav>
        <ul>
            <li>
                <a href="/superheroes">Home</a>
            </li>

            <li>
                <a href="/superheroes/gallery">View Gallery</a>
            </li>
        </ul>
    </nav>

    <main>
        <h2>Superhero Profile:</h2>
        <form action="/superheroes/<%= superheroes._id %>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= superheroes.name %>"> <br/>
            Gender: <input type="text" name="gender" value="<%= superheroes.gender %>"> <br/>
            Race: <input type="text" name="race" value="<%= superheroes.race %>"> <br/>
            Mask:
            <input type="checkbox" name="mask"
                <% if (superheroes.mask === true) { %>
                    checked
                <% } %>
            />
            <br/>
            Weapon:
            <input type="checkbox" name="weapon"
                <% if (superheroes.weapon === true) { %>
                    checked
                <% } %>
            /> 
            <br/>
            <input type="submit" value="Update Superhero">
        </form>
    </main>


</body>
</html>