<header>
    <h1>Profile for <%= superheroes.name %> </h1>
</header>

<main class="hero-show">
    <div class="hero-info">
        <ul>
            <li>Name: <%= superheroes.name %></li>
            <li>Gender: <%= superheroes.gender %></li>
            <li>Race: <%= superheroes.race %></li>
            <li>Mask:
                <% if (superheroes.mask === true) { %>
                    Yes
                <% } else { %>
                    No
                <% } %>
            </li>     
            <li>Weapon:
                <% if (superheroes.weapon === true) { %>
                    Yes
                <% } else { %>
                    No
                <% } %>
            </li>   
            
            <ul class="powers">
                <li>Powers:
                    <% for (let i = 0; i < superheroes.powers.length; i++ ) { %> 
                        <a href="/powers/<%= superheroes.powers[i]._id %>"><%= superheroes.powers[i].type %> </a>
                </li>
                <% } %> 
            </ul>
        </ul>   
    </div>
        
    <img class="hero-image" 
        src="<%= `/images/${superheroes.gender}-${superheroes.race}${superheroes.mask ? '-mask' : ''}${superheroes.weapon ? '-weapon' : ''}.png`%>">

    <section>
        <a class="hero-edit" href="/superheroes/<%= superheroes._id %>/edit ">Edit Superhero</a>

        <form class="hero-delete" action="/superheroes/<%= superheroes._id %>?_method=DELETE " method="POST">
            <input type="submit" value="Delete Superhero">
        </form>
    </section>

</main>