<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Show Page for <%= superheroes.name %> </h1>

    <nav>
        <ul>
            <li>
                <button><a href="/superheroes/gallery">View Superhero Gallery</a></button>
            </li>

        </ul>

        <main>
            <section>
                <h2>Superhero Info</h2>
                
                    <h3>Name: <%= superheroes.name %></h3>
  
                    <a href="/superheroes/<%= superheroes._id %>/edit ">Edit Name</a>

                    <p>Powers:</p>
                    <ul>
                        <% for (let i = 0; i < superheroes.powers.length; i++ ) { %> 
                        <li>
                            <a href="/powers/<%= superheroes.powers[i]._id %>"><%= superheroes.powers[i].name %> </a> <br/>
                        </li>
                        <% } %> 
                    </ul>   
            </section>

            <section>

                <button><a href="/powers/new">Add Power to Superhero</a></button>

                <form action="/superheroes/<%= superheroes._id %>?_method=DELETE " method="POST">
                    <input type="submit" value="Delete Superhero">
                </form>

            </section>


        </main>

    </nav>


</body>
</html>